vue.example.localhost {
	tls internal
	encode gzip
	reverse_proxy localhost:5176
}

wallet.example.localhost {
	tls internal
	encode gzip
	reverse_proxy localhost:5174
}

relay-server.localhost {
	tls internal
	encode gzip
	log {
		output stdout
		format console
	}
	reverse_proxy localhost:3000
}
