

.glass-border-root {
  box-sizing: border-box;
  background: var(--w3a-colors-colorBackground);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid var(--w3a-colors-borderPrimary);
  border-radius: var(--fe-radius-xl);
  padding: var(--fe-gap-2);
  max-width: 860px;
  width: 100%;
  box-shadow: 2px 6px 10px var(--fe-shadow-strong);
}

.glass-border-inner {
  /* border: 1px solid var(--w3a-colors-surface3); */
  border-radius: 2rem;
  background: var(--w3a-colors-colorBackground);
}

[data-w3a-theme="light"] .glass-border-inner {
  background: var(--w3a-colors-grey50);
}
