.passkey-login-container-root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 4rem;
  padding-bottom: 4rem;
  /* height: 100vh; */
}

/* Responsive Design */
@media (max-width: 768px) {
  .passkey-login-container-root {
    margin: 0rem;
  }
}