# Node modules
node_modules
**/node_modules

# All environment files
.env
**/.env
**/.env.*

# Frontend test certs
examples/vite/certs
examples/tatchi-docs/certs
examples/nextjs/certs


# Build output
examples/vite/public
examples/vite/dist

examples/tatchi-docs/public
examples/tatchi-docs/dist
examples/tatchi-docs/docs/dist
examples/tatchi-docs/src/.vitepress/cache
examples/.vitepress-cache

examples/nextjs/public
examples/nextjs/dist

examples/relay-server/dist
examples/relay-server/dist/*
examples/relay-server/grace-keys.json
examples/relay-server/.provision-cache.json

examples/relay-cloudflare-worker/.wrangler

# Playwright report
passkey-sdk/playwright-report
test-results

# WASM worker outputs
passkey-sdk/dist
passkey-sdk/src/wasm_signer_worker/pkg
passkey-sdk/src/wasm_vrf_worker/pkg


# editor configs
.vscode/*
!.vscode/extensions.json
.DS_Store
