# Node modules
node_modules
**/node_modules

# All environment files
.env
**/.env
**/.env.*

# Frontend test certs
examples/vite/certs
examples/vite-secure/certs
examples/nextjs/certs

# Build output
examples/vite/public
examples/vite/dist

examples/vite-secure/public
examples/vite-secure/dist

examples/nextjs/public
examples/nextjs/dist

examples/relay-server/dist

# Playwright report
packages/passkey/playwright-report
test-results

# WASM worker outputs
packages/passkey/dist

packages/passkey/src/wasm_signer_worker/pkg
packages/passkey/src/wasm_signer_worker/target
packages/passkey/src/wasm_signer_worker/wasm_signer_worker_bg.wasm
packages/passkey/src/wasm_signer_worker/wasm_signer_worker_bg.wasm.d.ts
packages/passkey/src/wasm_signer_worker/wasm_signer_worker.js
packages/passkey/src/wasm_signer_worker/wasm_signer_worker.d.ts

packages/passkey/src/wasm_vrf_worker/pkg
packages/passkey/src/wasm_vrf_worker/target
packages/passkey/src/wasm_vrf_worker/wasm_vrf_worker_bg.wasm
packages/passkey/src/wasm_vrf_worker/wasm_vrf_worker_bg.wasm.d.ts
packages/passkey/src/wasm_vrf_worker/wasm_vrf_worker.js
packages/passkey/src/wasm_vrf_worker/wasm_vrf_worker.d.ts


# editor configs
.vscode/*
!.vscode/extensions.json
.DS_Store