/* Expander (TransactionSettingsSection) */
.w3a-dropdown-tx-settings-root {
  background-color: var(--w3a-colors-surface);
  transform-origin: top;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 200ms cubic-bezier(0.22, 1, 0.36, 1);
}

.w3a-dropdown-tx-settings-root.is-expanded {
  border-top: 1px solid var(--w3a-colors-borderPrimary);
  /* border-bottom: 1px solid var(--w3a-colors-borderPrimary); */
  background-color: var(--w3a-colors-surface);
  grid-template-rows: 1fr;
}

.w3a-dropdown-toggle-tx-settings {
  overflow: hidden;
  min-height: 0;
  min-width: 0;
}

.w3a-dropdown-toggle-tx-settings-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px;
  transition: opacity 100ms ease, transform 200ms cubic-bezier(0.22, 1, 0.36, 1);
  opacity: 0;
  transform: translateY(4px);
}

.w3a-dropdown-tx-settings-root.is-expanded .w3a-dropdown-toggle-tx-settings-content {
  opacity: 1;
  transform: translateY(0);
}

.w3a-confirmation-options {
  font-size: 12px;
  margin-bottom: 6px;
}
