/* React Component Styles for @tatchi/sdk/react */

/* Import ProfileSettingsButton styles */
@import './components/ProfileSettingsButton/LinkedDevicesModal.css';
@import './components/ProfileSettingsButton/MenuItem.css';
@import './components/ProfileSettingsButton/ProfileDropdown.css';
@import './components/ProfileSettingsButton/Slider.css';
@import './components/ProfileSettingsButton/icons/TouchIcon.css';
@import './components/ProfileSettingsButton/TransactionSettingsSection.css';
@import './components/ProfileSettingsButton/UserAccountButton.css';
@import './components/ProfileSettingsButton/Web3AuthProfileButton.css';

@import './components/PasskeyAuthMenu/PasskeyAuthMenu.css';

/* Import QR Code Scanner styles */
@import './components/QRCodeScanner.css';
@import './components/ShowQRCode.css';
