{
	debug
}

# App (Vite dev server) - headers set by Vite plugin
example.localhost {
	tls internal
	encode gzip
	log {
		output stdout
		format console
	}
	reverse_proxy localhost:5173
}

# Wallet host (self-contained mode - shares same Vite server) - headers set by Vite plugin
wallet.example.localhost {
	tls internal
	encode gzip
	log {
		output stdout
		format console
	}
	reverse_proxy localhost:5173
}

# Relay server on separate origin
relay-server.localhost {
	tls internal
	encode gzip
	log {
		output stdout
		format console
	}
	reverse_proxy 127.0.0.1:3000
}
