* {
  box-sizing: border-box;
}

.w3a-profile-button-morphable {
  position: relative;
  background-color: var(--w3a-colors-colorBackground);
  border: 1px solid var(--w3a-colors-borderPrimary);
  border-radius: 2rem;
  box-shadow: var(--w3a-shadows-sm);
  font-size: 14px;
  font-weight: 500;
  color: var(--w3a-colors-textPrimary);
  cursor: pointer;
  outline: none;
  overflow: visible;
  width: fit-content;
  transition: none;
}

.w3a-profile-button-morphable:hover {
  border-color: var(--w3a-colors-borderHover);
}

.w3a-profile-button-icon {
  flex-shrink: 0;
}

.w3a-profile-button-icon svg {
  overflow: visible;
}

.w3a-profile-button-username {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.w3a-profile-button-icon {
  color: var(--w3a-colors-textSecondary);
}

.w3a-profile-button-username {
  display: block; color: var(--w3a-colors-textSecondary);
}

.w3a-profile-button-username.hidden {
  display: none;
}

.w3a-user-account--toggle-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition: opacity 0.15s ease-in-out;
}

.w3a-user-account--toggle-text {
  flex: 1;
}

.w3a-user-account--toggle-title {
  font-weight: 500;
  color: var(--w3a-colors-textPrimary);
  font-size: 14px;
  margin: 0;
}

.w3a-user-account--toggle-description {
  font-size: 14px;
  color: var(--w3a-colors-textMuted);
  margin: 0;
}
